.contact{
    padding: 90px 0;
    .container{
        .contact-desc{
            @extend %border-left;
            background: url("../img/07.svg") no-repeat 1%;
            background-size: contain;
            @include max-screen(1200px){
                margin: 0 25px;
            }
            p{color: #666666;}
        }
        .blank{
            display: flex;
            justify-content: space-between;
            margin: 70px auto 0;
            padding: 30px;
            -webkit-box-shadow: 0 0 8px 8px rgba(0,0,0,0.1);
            box-shadow: 0 0 8px 8px rgba(0,0,0,0.1);
            max-width: 870px;
            @include max-screen(600px){
                flex-direction: column;
                align-items: center;
            }
            .form-box{
                max-width: 40%;
                margin-left: 30px;
                @include max-screen(600px){
                    max-width: 70%;
                    margin-left: 0;
                    margin-bottom: 40px;
                }
                form{
                    display: inline-block;
                    input{
                        width: 100%;
                        border: none;
                        border-bottom: 1px solid #b9b9b9;
                        color: #b9b9b9;
                        font-family: "Open Sans Italic", sans-serif;
                        font-size: 14px;
                        padding: 5px;
                        margin: 5px;
                        outline: $yellow;
                    }
                    textarea{
                        width: 100%;
                        padding: 5px;
                        border: none;
                        border-bottom: 1px solid #b9b9b9;
                        resize: none;
                        outline: #e8bf5d;
                        font-family: "Open Sans Italic", sans-serif;
                        font-size: 14px;
                        color: #b9b9b9;
                        margin: 5px;
                    }
                    button{
                        box-shadow: none;
                        border: none;
                        padding: 15px 28px;
                        font-family: "Playfair Display Regular", sans-serif;
                        font-size: 16px;
                        color: #111111;
                        background-color: $yellow;
                        border-radius: 50px;
                    }
                }
            }
            .frame-box{
                max-width: 50%;
                margin-right: 50px;
                background-color: $yellow;
                @include max-screen(600px){
                    margin-right: 0;
                    max-width: 100%;
                }
                iframe{
                    position: relative;
                    top: -10px;
                    right: -10px;
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}