$yellow: #e8bf5d;

@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}

.container{
    max-width: 1100px;
    margin: auto;
    @include max-screen('1100px'){
        padding: 0 10px;
    }
}

.container-fluid{
    max-width: 1170px;
    margin: auto;
    @include max-screen('1170px'){
        padding: 0 10px;
    }
}

//settings
@import "normalize";
@import "fonts";

//sections
@import "header";
@import "banner";


