$yellow: #e8bf5d;

%border-left{
    border-left: $yellow solid 2px;
    padding-left: 25px;
}

@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}

.container{
    max-width: 1100px;
    margin: auto;
    @include max-screen('1100px'){
        padding: 0 10px;
    }
}


main{
    padding-top: 111px;
}

h2{
    margin-bottom: 20px;
    font-family: "Playfair Display Regular", sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: normal;
}

p{
    max-width: 765px;
    padding-bottom: 15px;
    font-family: "Playfair Display Regular", sans-serif;
    font-size: 20px;
    line-height: 30px;
}

//settings
@import "normalize";
@import "fonts";

//sections
@import "header";
@import "banner";
@import "about-section";
@import "practice-area";
@import "lawyers";
@import "opinion-section";
@import "publications";
@import "faq";
@import "contact";
@import "footer";