.opinion{
    padding: 90px 0;
    background-color: #111111;
    color: #ffffff;
    .container{
        .opinion-desc{
            margin-bottom: 50px;
            @extend %border-left;
            background: url("../img/04.svg") no-repeat 1%;
            background-size: contain;
            @include max-screen(1200px){
                margin: 0 25px 50px;
            }
        }
    }

}
